@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  font-family: 'Fredoka';
  line-height: 140%;
  font-size: 18px;
  background-image: url('iowa-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 30px;
}

main {
  background-color: #fff;
  padding: 30px;
  width: 800px;
  margin: 0 auto;
}

a {
  color: #201395;
  text-decoration: none;
}

h4 {
  margin-bottom: 0;
}

h4+p {
  margin-top: 2px;
}

.file-list a {
  display: inline-block;
  width: 450px;
}

.file-list span {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.file-list i {
  display: inline-block;
  font-style: normal;
  width: 200px;
  text-align: right;
}

.file-list .description {
  padding-left: 30px;
}

h3 {
  margin-top: 40px;
}